body {
  margin: 5% 10%;
  background-color: rgb(29,161,242);
}

.like {
  cursor: pointer;
}

body h1 {
  color: #FFF;
}

body > header {
  margin-bottom: 5%;
}

article.media-post {
  border: solid 15px #000;
  margin: 10% 15%;
  background-color: #fff;
}

article.media-post > p {
  background-color: rgba(1, 7, 14, 0.25);
  padding: 1em 2em;
}

article.media-post > header {
  padding: 1em 2em;
  background-color: rgb(225,232,237);
}

article.media-post > footer {
  color: rgb(170,184,194);
}

article.media-post > footer ul {
  list-style-type: hiragana-iroha;
}

#modal {
  border-radius: 10px;
  background-color: maroon;
  color: white;

  margin: 1em;
  padding: 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#modal p {
  margin-bottom: 0;
}

.activated-heart {
  color: red;
}

.hidden {
  visibility: hidden;
}